* {
  margin: 0;
}
.app_header{
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}
.app_dropdown{
  background-color: white;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}
.app_right{
  display: flex;
  flex-direction: column;
}

.app_right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app_graph{
  flex-grow: 1;
}

.app_left{
  flex: 0.9;
}
.app_graphTitle{
  margin: 10px;
}
body{
  background-color: #f5f6fa;
}
.app{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
@media(max-width:990px){
  .app{
    flex-direction: column;
  }
}
.app_left{
  flex: 0.9;
}